nav
    margin-left: auto

.mat-tab-link
    color: white !important

mat-icon
    cursor: pointer

span
    align-items: center
    display: flex
    img
        margin-left: 2%
        margin-right: 2%
